
*{margin:0; padding:0;}
	.menu{width:460px; height:48px; background:#000; margin:0 auto;border-bottom:4px solid red;}
	.menu ul li {float:left;list-style-type:none;}
	.menu ul li a{color:#fff; font:17px Arial;text-decoration:none;display:block; padding:14px 15px;transition:all .5s;-webkit-transition:all .5s;-moz-transition:all .5s;}
	.menu ul li a:hover{
		background:red;
		color:yellow;
	}

	
   